body {
    margin: 0;
    background-color: #0A1416;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #7B6043;
    height: 150px;
    padding-bottom: 10px;

}

#filtros {
    display: flex;
    background-color: #303030;
    height: 60px;
    align-items: center;
    justify-content: center;

}

#por {
    font-family: 'Balthazar', serif;
    font-size: 30px;
    color: #ffffff;
    margin-left: 40px;
}

[data-testid="select-filter"] {
    font-size: 17px;
    font-family: 'Balthazar', serif;
    height: 30px;
    width: 170px;
    margin-left: 10px;
    background-color: #D9D9D9;
}

[data-testid="select-sort"] {
    font-size: 17px;
    height: 30px;
    width: 170px;
    margin-left: 10px;
    background-color: #D9D9D9;
}

button {
    font-family: 'Balthazar', serif;
    font-size: 23px;
    font-weight: bold;
    padding: 6px 35px 6px 35px;
    border-radius: 3px solid #D9D9D9;
    margin-left: 50px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    
}

li {
    display:flex;
    font-family: 'Cinzel', serif;
    color: #ffffff;
    width: 270px;
    height: 390px;
    background-color: #6f6e6e;
    text-align: center;
    justify-content:center;
    background-image: url(https://github.com/DanielaPosadas/DEV012-dataverse/blob/main/tarjetas%20MK-1.jpg?raw=true);
    background-repeat: no-repeat;
    background-size:cover;
    
}

img {
    margin-top: 15px;
}

[itemprop="name"] {
    display: flex;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

[itemprop="name2"]{
    margin-top: 10px;
    font-size: 12px;
}

[itemprop="letality"] {
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
}

[itemprop="letality2"]{
    display: flex;
    margin-left: 70px;
    font-size: 14px;
}